html {
  background-color: #f8f5ed;
  overflow-y: hidden;
}

p {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
}

a:visited {
  color: black;
}

.box {
  border: 8px solid #d7e8c8;
  background-color: #98a58d;
  text-align: center;
  height: 180px;
  width: 180px;
  border-radius: 30px;
  position: relative;
  left: 1210px;
  z-index: 1;
  bottom: 200px;
}

img {
  position: relative;
  left: 1230px;
  height: 125px;
  width: 156.25px;
  z-index: 2;
  top: -30px;
}

p.a {
  font-size: 48px;
  font-family: 'Chakra Petch', sans-serif;
  position: relative;
  bottom: 270px;
}

p.b {
  font-size: 42px;
  position: relative;
  bottom: 295px;
  font-family: 'Chakra Petch', sans-serif;
}

p.c {
  position: relative;
  text-align: center;
  border: 2px solid black;
  background-color: #90d2f8;
  height: 22px;
  width: 100px;
  padding: 10px;
}

ul {
  position: relative;
  bottom: 310px;
  font-family: 'Chakra Petch', sans-serif;
  margin-left: 435px;
  margin-right: 440px;
  font-size: 27px;
  height: -200px;
}

#Last {
  margin-bottom: -30px;
}

div {
  font-family: 'Chakra Petch', sans-serif;
}

#happyDinuck {
  height: 250px;
  width: 250px;
  transform: scaleX(-1);
  position: relative;
  margin-left: -90px;
  top: -480px;
}

.bubble {
  position: relative;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 30px;
  width: 250px;
  line-height: 25px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  bottom: 500px;
  left: 1100px;

}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid #fff;
  border-right: 18px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 13px solid transparent;
  right: 32px;
  bottom: -24px;
  transform: scaleX(-1);
}

a {
  text-decoration: none;
}