/* Comment */

html {

}

body {
    background-color: white;
}

h1 {

}

p {

}

#overlay{
    height: 100%;
    width: 100%;
    background: rgb(51, 204, 51, 0.9);
    position: absolute;
    top: 0px;
    display: none;
}

#overlay2{
    height: 100%;
    width: 100%;
    background: rgb(182, 184, 182, 0.9);
    position: absolute;
    top: 0px;
    display: none;
}

#correct{
    background-color: white;
    display: none;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 500px;
    top: 400px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

#incorrect{
    background-color: white;
    display: none;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 500px;
    top: 400px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

#button{
    cursor: pointer;
    position: absolute;
    display: none;
    top: 125px;
    left: 75px;
    height: 250px;
    width: 600px;
    border-radius: 30px;
    border: 6px solid;
    border-color: rgb(255, 128, 128);
    background-color: rgb(255, 179, 179);
}

#button2{
    cursor: pointer;
    position: absolute;
    display: none;
    top: 125px;
    right: 75px;
    height: 250px;
    width: 600px;
    border-radius: 30px;
    border: 6px solid;
    border-color: rgb(26, 140, 255);
    background-color: rgb(77, 166, 255);
}

#button3{
    cursor: pointer;
    position: absolute;
    display: none;
    bottom: 125px;
    left: 75px;
    height: 250px;
    width: 600px;
    border-radius: 30px;
    border: 6px solid;
    border-color: rgb(255, 163, 102);
    background-color: rgb(255, 194, 153);
}

#button4{
    cursor: pointer;
    position: absolute;
    display: none;
    bottom: 125px;
    right: 75px;
    height: 250px;
    width: 600px;
    border-radius: 30px;
    border: 6px solid;
    border-color: rgb(255, 219, 77);
    background-color: rgb(255, 230, 128);
}