/* Comment */

html {

}

body {
    background-color: white;
}

h1 {

}

p {

}

#overlay{
    height: 100%;
    width: 100%;
    background: rgb(51, 204, 51, 0.9);
    position: absolute;
    top: 0px;
    display: none;
}

#overlay2{
    height: 100%;
    width: 100%;
    background: rgb(182, 184, 182, 0.9);
    position: absolute;
    top: 0px;
    display: none;
}

#correct{
    background-color: white;
    display: none;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 500px;
    top: 400px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

#incorrect{
    background-color: white;
    display: none;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 500px;
    top: 400px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

#button{
    cursor: pointer;
}

#button2{
    cursor: pointer;
}