/* Comment */

html {

}

body {
    background-color:rgb(247,245,237);
}

h1 {

}

p {
    font-family: 'Quantico', sans-serif;
    font-size: 50px;
    text-align:center;
    margin-bottom: 0px;
}
div.abcd {
    width:80%;
    height:50%;
    display:flex;
    flex-direction:row;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding:50px;
    margin-top: 0px;
    margin:auto;



}
div.aOption{
    width: 500px;
    height: 200px;
    margin-right:25px;
    margin-bottom:25px;
    margin-left: 25px;
    margin-top: 25px;
}

div.bOption{
    width: 500px;
    height: 200px;
    margin-right:25px;
    margin-bottom:25px;
    margin-left: 25px;
    margin-top: 25px;

}

div.cOption{
    width: 500px;
    height: 200px;
    margin-right:25px;
    margin-bottom:25px;
    margin-left: 25px;
    margin-top: 25px;
   
}

div.dOption{
    width: 500px;
    height: 200px;
    margin-right:25px;
    margin-bottom:25px;
    margin-left: 25px;
    margin-top: 25px;
}

body{
    
}

button{
    height:100%;
    width: 100%;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
    
}
button.abox{
    border: solid rgb(255,173,173) 10px;
    
}
button.bbox{
    border:solid rgb(82,113,255) 10px;
}
button.cbox{
    border: solid rgb(255,172,120) 10px;
}
button.dbox{
    border: solid rgb(255,222,89) 10px;
}
